/*

General Styles

*/

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    text-decoration: none;
}
.btn
{
    display: block;
}
.btn-primary
{
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    color:#6C63FF;
    font-family: sans-serif;
    padding:15px;
    margin:0px auto;
    margin-top:100px;
    margin:10px;
}
.btn-primary:hover
{
    background-color:#6C63FF;
    color:#fff;
}

.arrow_container
{
    position: absolute;
    left:60px;
    top:50px;
    width:40px;
    height: 40px;
    border-radius:50%;
    padding:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow_container:hover
{
    background-color:#ccc;
}

.arrow_return
{
    width:30px;
}
.cart_container
{
    position: absolute;
    right:60px;
    top:50px;
    width:40px;
    height: 40px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_container:hover
{
    background-color:#ccc;
}
.cart_container div
{
    position: relative;
}
.cart_container div div 
{
    position:absolute;
    top:-15px;
    right:-15px;
    border-radius:50%;
    background-color:#6C63FF;
    width:20px;
    height:20px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size:13px;
    color:#fff;
    font-family: sans-serif;
}

.home_screen
{
    animation:fade-in 200ms linear;
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.home_screen article .presentation
{
    width: 100%;
    height:200px;
}
.home_screen article h1
{
    font-family:sans-serif;
    font-size:20px;
    font-weight:200;
    margin-top:30px;
}

.home_screen form
{
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}
.home_screen form article
{
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    align-items: center;
}
.home_screen form article img
{
    position: absolute;
    left:3.5px;
}


.home_screen form input[type="text"], input[type="password"]
{
    padding: 10px 10px 10px 30px;
    margin: 20px 0px;
    width:100%;
}
.home_screen form input[type="submit"]
{
    padding:7px 12px;
    background-color: #fff;
    color:#6C63FF;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    transition:all .1s ease-in;
}
.home_screen form input[type="submit"]:hover
{
    background-color: #6C63FF;
    color:#fff;
}

/*

INITIAL SCREEN

*/
.initial_screen
{
    width: 80%;
    margin:0px auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.initial_screen article
{
    animation:fade-in 200ms linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:7px;
    display: flex;
    height:80%;
    flex-direction:column;
    justify-content:space-around;
    width:300px;
}

.initial_screen article a button
{
    background-color:#fff;
    border:1px solid #ccc;
    padding:15px;
    margin:0px auto;
    font-family: sans-serif;
    color:#6C63FF;
    transition:all .1s ease-in;
    border-radius:5px;
}
.initial_screen article a button:hover
{
    background-color:#6C63FF;
    color:white;
}
.initial_screen article img
{
    width:100%;
    height: 300px;
    pointer-events: none;

}
/*

MENU SCREEN

*/
.menu_screen
{
    animation: fade-in 200ms linear;
    font-family: sans-serif;
    font-size: 25px;
    margin-top:50px;
    text-align: center;
    width:100%;
}
.menu_screen  span
{
  font-size:14px;
}
.menu_screen .container_food
{
  user-select: none;
  margin:0px auto;
  margin-top:50px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  width: 90%;
}
.menu_screen .container_food .target_food
{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius:5px;
  margin:40px;
  display: flex;
  flex-direction:column;
  align-items:center;
  padding:10px;
  height:400px;
  width:300px;
  transition:all 200ms ease-in-out;
}
.menu_screen .container_food .target_food:hover
{
  transform: scale(1.1);
}
.menu_screen .target_food span
{
  margin:20px 0px;
  color: #56BD95;
  font-family:sans-serif;
  font-weight:bold;
  font-size:15px;
  letter-spacing:1px;
}
.menu_screen .target_food .target_food_name h3
{
    font-family:sans-serif ;
    text-transform: uppercase;
    margin:15px;
    font-size:25px;
}
.menu_screen .container_food .target_food .target_food_img img
{
  border-radius:5px;
  display:block;
  pointer-events: none;
  height:190px;
  width:100%;
}

/*

ELEMENT_SCREEN

*/

.container_element
{
    display: flex;
    justify-content: center;
    height:100vh;
    width:100vw;
}
.container_element .info_element
{
    display:flex;
    width:90%;
}
.container_element .info_element .img_element
{
    animation: fade-in-left 200ms linear;
    width:60%;
    display: flex;
    align-items: center;
}
.container_element .info_element .img_element img
{
    display:block;
    width:80%;
    height:40%;
    border-radius:10px;
    pointer-events: none;

}
.container_element .info_element .description_element
{
    animation: fade-in 200ms linear;
    justify-content:center;
    flex-direction: column;
    display:flex;
    width:100%;
}
.container_element .info_element .description_element h3
{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight:normal;
}
.container_element .info_element .description_element p
{
    font-family:sans-serif;
    margin:20px 0px;
    font-size:1.1rem;
}
.container_element .info_element .description_element p b
{
  font-family:sans-serif;
  margin:20px 0px;
  font-size:1.1rem;
  font-style:normal;
  font-weight:bold;
  text-transform:uppercase;
}

.container_element .info_element .description_element .from
{
  display: flex;
  align-items: center;
}
.container_element .info_element .description_element .from p
{
  font-style:normal;
  text-transform:uppercase;
}
.container_element .info_element .description_element .from img
{
  width:30px;
  height:20px;
  margin-left:20px;
  pointer-events: none;
}
.container_element .info_element .description_element .buttons_container
{
    margin-top:100px;
    display:flex;
    justify-content:center;
}
.container_element .info_element .description_element .buttons_container button
{
    margin:0px 10px;
}
.container_element .info_element .description_element .buttons_container button:disabled
{
  background-color:#fff;
  color:#6C63FF;
  cursor:not-allowed;
}
/*

SHOPPING SCREEN

*/
.column
{
    flex-direction: column;
}
.row
{
    align-items: center;
}
.shopping_screen
{
    width:100wh;
    height:100vh;
    display: flex;
    align-items:center;
    justify-content:center;
}
.shopping_screen .shop_screen_content
{
    justify-content:center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    padding:40px;
    font-family: sans-serif;
}
.shopping_screen .shop_screen_content .cart_empty
{
    width:600px;
    height:200px;
}
.shopping_screen .shop_screen_content p
{
    font-family: sans-serif;
    font-size:25px;
    text-transform: uppercase;
}
.shopping_screen .shop_screen_content article
{
    margin-top:40px;
}
.shopping_screen .shop_screen_content article 
{
    padding:50px;
    margin-top:20px;
}

table
{
    width:100%;    
}
table thead tr th
{
    font-weight:normal;
}

table tr th, td
{
    padding:10px 50px;
    border-bottom:1px solid #ccc;
    text-transform: uppercase;
}
.btn-danger
{
    cursor: pointer;
    border-radius:3px;
    padding:10px;
    margin:0px auto;
    color: #fff;
    background-color: #dc3545;
    border:1px solid white;
}
.btn-danger:hover
{
    border:1px solid lightblue;
}

/*

Animation fade-in

*/
@keyframes fade-in{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes fade-in-left
{
    from{
        opacity: 0;
        transform: translateX(-50px)
    }to{
        opacity: 1;
        transform: translateX(0px)
    }
}


/*

RESPONSIVE

*/

@media (max-width: 968px)
{
    .container_element .info_element .img_element img
    {
        width:300px;
    }
}
