/*

General Styles

*/

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    text-decoration: none;
}
.btn
{
    display: block;
}
.btn-primary
{
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    color:#6C63FF;
    font-family: sans-serif;
    padding:15px;
    margin:0px auto;
    margin-top:100px;
    margin:10px;
}
.btn-primary:hover
{
    background-color:#6C63FF;
    color:#fff;
}
.btn-primary:disabled:hover
{
    background-color:#fff;
    color:#6C63FF; 
}
.arrow_container
{
    position: absolute;
    left:60px;
    top:50px;
    width:40px;
    height: 40px;
    border-radius:50%;
    padding:30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow_container:hover
{
    background-color:#ccc;
}

.arrow_return
{
    width:30px;
}
.cart_container
{
    position: absolute;
    right:60px;
    top:50px;
    width:40px;
    height: 40px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_container:hover
{
    background-color:#ccc;
}
.cart_container div
{
    position: relative;
}
.cart_container div div
{
    position:absolute;
    top:-15px;
    right:-15px;
    border-radius:50%;
    background-color:#6C63FF;
    width:20px;
    height:20px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size:13px;
    color:#fff;
    font-family: sans-serif;
}

.home_screen
{
    animation:fade-in 200ms linear;
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.home_screen article .presentation
{
    width: 100%;
    height:200px;
}
.home_screen article h1
{
    font-family:sans-serif;
    font-size:20px;
    font-weight:200;
    margin-top:30px;
}

.home_screen form
{
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}
.home_screen form article
{
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    align-items: center;
}
.home_screen form article img
{
    position: absolute;
    left:3.5px;
}


.home_screen form input[type="text"], input[type="password"]
{
    padding: 10px 10px 10px 30px;
    margin: 20px 0px;
    width:100%;
}
.home_screen form input[type="submit"]
{
    padding:7px 12px;
    background-color: #fff;
    color:#6C63FF;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    transition:all .1s ease-in;
}
.home_screen form input[type="submit"]:hover
{
    background-color: #6C63FF;
    color:#fff;
}

/*

INITIAL SCREEN

*/
.initial_screen
{
    width: 80%;
    margin:0px auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.initial_screen article
{
    animation:fade-in 200ms linear;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:7px;
    display: flex;
    height:80%;
    flex-direction:column;
    justify-content:space-around;
    width:300px;
}

.initial_screen article a button
{
    background-color:#fff;
    border:1px solid #ccc;
    padding:15px;
    margin:0px auto;
    font-family: sans-serif;
    color:#6C63FF;
    transition:all .1s ease-in;
    border-radius:5px;
}
.initial_screen article a button:hover
{
    background-color:#6C63FF;
    color:white;
}
.initial_screen article img
{
    width:100%;
    height: 300px;
    pointer-events: none;

}
/*

MENU SCREEN

*/
.menu_screen
{
    animation: fade-in 200ms linear;
    font-family: sans-serif;
    font-size: 25px;
    margin-top:50px;
    text-align: center;
    width:100%;
}
.menu_screen  span
{
  font-size:14px;
}
.menu_screen .container_food
{
  user-select: none;
  margin:0px auto;
  margin-top:50px;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  width: 90%;
}
.menu_screen .container_food .target_food
{
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius:5px;
  margin:40px;
  display: flex;
  flex-direction:column;
  align-items:center;
  padding:10px;
  height:400px;
  width:300px;
  transition:all 200ms ease-in-out;
}
.menu_screen .container_food .target_food:hover
{
  transform: scale(1.1);
}
.menu_screen .container_food .disabled
{
    opacity:.5;
    transition: none;
}
.menu_screen .container_food .disabled:hover
{
    transform: none;
}

.menu_screen .target_food span
{
  margin:20px 0px;
  color: #56BD95;
  font-family:sans-serif;
  font-weight:bold;
  font-size:15px;
  letter-spacing:1px;
}
.menu_screen .target_food .target_food_name h3
{
    font-family:sans-serif ;
    text-transform: uppercase;
    margin:15px;
    font-size:25px;
}
.menu_screen .container_food .target_food .target_food_img img
{
  border-radius:5px;
  display:block;
  pointer-events: none;
  height:190px;
  width:100%;
}

/*

ELEMENT_SCREEN

*/

.container_element
{
    display: flex;
    justify-content: center;
    height:100vh;
    width:100vw;
}
.container_element .info_element
{
    display:flex;
    width:90%;
}
.container_element .info_element .img_element
{
    animation: fade-in-left 200ms linear;
    width:60%;
    display: flex;
    align-items: center;
}
.container_element .info_element .img_element img
{
    display:block;
    width:80%;
    height:40%;
    border-radius:10px;
    pointer-events: none;

}
.container_element .info_element .description_element
{
    animation: fade-in 200ms linear;
    justify-content:center;
    flex-direction: column;
    display:flex;
    width:100%;
}
.container_element .info_element .description_element h3
{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight:normal;
}
.container_element .info_element .description_element p
{
    font-family:sans-serif;
    margin:20px 0px;
    font-size:1.1rem;
}
.container_element .info_element .description_element p b
{
  font-family:sans-serif;
  margin:20px 0px;
  font-size:1.1rem;
  font-style:normal;
  font-weight:bold;
  text-transform:uppercase;
}

.container_element .info_element .description_element .from
{
  display: flex;
  align-items: center;
}
.container_element .info_element .description_element .from p
{
  font-style:normal;
  text-transform:uppercase;
}
.container_element .info_element .description_element .from img
{
  width:30px;
  height:20px;
  margin-left:20px;
  pointer-events: none;
}
.container_element .info_element .description_element .buttons_container
{
    margin-top:100px;
    display:flex;
    justify-content:center;
}
.container_element .info_element .description_element .buttons_container button
{
    margin:0px 10px;
}
.container_element .info_element .description_element .buttons_container button:disabled
{
  background-color:#fff;
  color:#6C63FF;
  cursor:not-allowed;
}
/*

SHOPPING SCREEN

*/
.column
{
    flex-direction: column;
}
.row
{
    align-items: center;
}
.shopping_screen
{
    width:100wh;
    height:100vh;
    display: flex;
    align-items:center;
    justify-content:center;
}
.shopping_screen .shop_screen_content
{
    justify-content:center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    padding:40px;
    font-family: sans-serif;
}
.shopping_screen .shop_screen_content .cart_empty
{
    width:600px;
    height:200px;
}
.shopping_screen .shop_screen_content p
{
    font-family: sans-serif;
    font-size:25px;
    text-transform: uppercase;
}
.shopping_screen .shop_screen_content article
{
    margin-top:40px;
}
.shopping_screen .shop_screen_content article
{
    padding:50px;
    margin-top:20px;
}
.shopping_screen .shop_screen_content .img_container
{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.shopping_screen .shop_screen_content .img_container img
{
    width:45%;
    border-radius:10px;
}
.shopping_screen .shop_screen_content .btn-buy
{
    margin-top:75px;
    transition: all .1s ease-in;
}
.shopping_screen .shop_screen_content a
{
    text-align:center;
}

table
{
    width:100%;
}
table thead tr th
{
    font-weight:normal;
}
table tr th, td
{
    padding:10px 50px;
    border-bottom:1px solid #ccc;
    text-transform: uppercase;
}
.btn-danger
{
    cursor: pointer;
    border-radius:3px;
    padding:10px;
    margin:0px auto;
    color: #fff;
    background-color: #dc3545;
    border:1px solid white;
    border-radius:2px;
}
.btn-danger:hover
{
    border:1px solid lightblue;
}

/*

DASHBOARD

*/

.dashboard_screen
{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family:sans-serif;
}
.dashboard_screen aside
{
    width:80px;
    height:100vh;
    background-color: #181818;
    position: fixed;
    transition: all 0.2s ease-in;
}
.dashboard_screen aside:hover
{
    width:200px;
}
.dashboard_screen aside ul
{
    list-style:none;
    width:100%;
    height:100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: flex-start;
}
.dashboard_screen aside ul li
{
    padding:20px 0px;
    color:#fff;
    text-align:center;
}
.dashboard_screen aside ul li a
{
    color:#fff;
    font-family:15px;
    display: flex;
    align-items:center;
}
.dashboard_screen aside:hover .first_child::after
{
    content:"MENU";
}
.dashboard_screen aside:hover .secound_child::after
{
    content:"USUARIOS";
}

.dashboard_screen aside ul img
{
    width:40px;
    margin:20px;
}
.dashboard_screen .btn-logout
{
    position:fixed;
    bottom:50px;
    right:50px;
    color:#fff;
    width:auto;
    border-radius:20px;
}
.dashboard_screen .btn-logout:hover
{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.dashboard_screen > article
{
    width:calc(100% - 80px);
    background-color:#fffffe;
    margin-left:80px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.dashboard_screen article .screen_manage_title
{
    padding:30px;
    margin:0px;
    font-family:sans-serif;
    font-size:20px;
    text-align: center;
    width: calc(100vw - 100px);
}
.dashboard_screen article .screen_manage_content
{
    width:90%;
    min-height:50%;
    margin:0px auto;
    display: flex;
    padding:20px;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}
.dashboard_screen article img 
{
    width:500px;
}
.dashboard_screen article .screen_manage_content > div
{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    min-height:200px;
    width:300px;
    margin:20px;
    border-radius: 10px;
}
.dashboard_screen article .screen_manage_content div p 
{
    /* border-radius: 10px; */
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    height:40px;
    font-family: sans-serif;
    text-align:center;
    padding:10px;
    background-color:#181818;
    color:#fffe;
    text-transform: uppercase;
}
.dashboard_screen article .screen_manage_content div form
{
    display: flex;
    flex-direction:column;
    align-items:center;
}
.dashboard_screen article .screen_manage_content div form label
{
    /* margin:10px; */
    /* width:100%; */
    align-self: flex-start;
    margin:10px;
}
.dashboard_screen article .screen_manage_content div form input
{
    width:90%;
    padding:5px;
}
.dashboard_screen article .screen_manage_content div form .buttons
{
    width:100%;
    display: flex;
    margin:20px 0px;
}
.dashboard_screen article .screen_manage_content div form select
{
    width:90%;
    padding:5px;
}
.dashboard_screen article .screen_manage_content div form button
{
    padding:7px;
    margin-top:20px;
    margin:0px auto;
    border:none;
    border-radius:5px;
}
.dashboard_screen article .screen_manage_content div form .edit
{
    /* box-shadow: 2px 1px 0px red; */
    color:#fff;
    background-color: #0DCAF0;
    border:1px solid #0DCAF0;
}
.dashboard_screen article .screen_manage_content div form .edit:hover
{
    box-shadow: 2px 1px 1px #0DCAF0;
}
.dashboard_screen article .screen_manage_content div form .cancel
{
    background-color: #DC3545;
    color:#fff;
    border: 1px solid #DC3545;
}
.dashboard_screen article .screen_manage_content div form .cancel:hover
{
    box-shadow: 2px 1px 1px #DC3545;

}
.dashboard_screen article .screen_manage_content div form .update
{
    background-color: #198754;
    color:#fff;
    border: 1px solid #198754;
}
.dashboard_screen article .screen_manage_content div form .update:hover
{
    box-shadow: 2px 1px 1px #198754;

}
section .screen_manage_content .btn-add
{
    align-self: flex-start;
    background-color:#157347;
    border: 1px solid #157347;
    border-radius:5px;
    color:#fff;
    cursor: pointer;
    height:50px;
    width:150px;
}
section .screen_manage_content .btn-add:hover
{
    box-shadow: 1px 2px 1px green;
}
section .screen_manage_content .cancel
{
    background-color: #dc3545;
    border:1px solid #dc3545;
}
section .screen_manage_content .cancel:hover
{
    box-shadow: 1px 2px 1px #dc3545;
}

section .screen_manage_content > form
{
    animation: form-in 200ms linear;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:5px;
    display:flex;
    justify-content: center;
    margin:20px;
    padding:15px;
    flex-direction: column;
    overflow: hidden;
    width: 90%;
}
section .screen_manage_content form .section-input
{
    width: 60%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:15px;
}
section .screen_manage_content form .section-input label
{
    width:20%;
}
section .screen_manage_content form .section-input > #user-name, #user-password, select
{
    width:80%;
    padding:5px;
    margin:10px;
}
section .screen_manage_content form .user-submit
{
    background-color: #42a92d !important;
    color:#fff;
}
section .screen_manage_content .table-users-container
{
    width: 100% !important;
    box-shadow: none !important;
}
section .screen_manage_content .table-users-container tbody tr td > div
{
    width:100%;
    height: 100%;
    position: relative;
}

section .screen_manage_content .table-users-container tbody tr td
{
    text-align:center;
    text-transform:none;
}

section .screen_manage_content .table-users-container tbody tr td input
{
    padding: 10px 10px 10px 30px;
    margin: 20px 0px;
    width: 100%;
}
section .screen_manage_content .table-users-container tbody tr td img 
{
    right:10px;
    top:27px;
    position: absolute;
    width:25px;
}
section .screen_manage_content .table-users-container tbody tr td img:active
{
    transform: scale(.8)
}

/* section .screen_manage_content .table_users
{
    width:100%;
    margin:0px;
} */

/*157548

Animation fade-in

*/
@keyframes fade-in{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes fade-in-left
{
    from{
        opacity: 0;
        transform: translateX(-50px)
    }to{
        opacity: 1;
        transform: translateX(0px)
    }
}
@keyframes form-in {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
/*

LOADER

*/
.loader_container
{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  font-size: 10px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #42a92d;
  background: -moz-linear-gradient(left, #42a92d 10%, rgba(66,169,45, 0) 42%);
  background: -webkit-linear-gradient(left, #42a92d 10%, rgba(66,169,45, 0) 42%);
  background: -o-linear-gradient(left, #42a92d 10%, rgba(66,169,45, 0) 42%);
  background: -ms-linear-gradient(left, #42a92d 10%, rgba(66,169,45, 0) 42%);
  background: linear-gradient(to right, #42a92d 10%, rgba(66,169,45, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #42a92d;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #e7f3f3;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*

RESPONSIVE

*/

@media (max-width: 968px)
{
    .container_element .info_element .img_element img
    {
        width:300px;
    }
}
